In [3]:
import pandas as pd

In [5]:
car = pd.read_csv('Quikr_car.csv')

In [6]:
car.head()

,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,Ford Figo Duratec Petrol EXI 1.2 - 2015,PLATINUM,Bangalore,"₹3,80,000","35,056 kms",Petrol,NaN,2015,Ford
1,1,Maruti Suzuki Wagon R VXI BS IV - 2016,PLATINUM,Bangalore,"₹4,65,000","44,000 kms",Petrol,NaN,2016,Maruti
2,2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,PLATINUM,Bangalore,"₹13,50,000","42,917 kms",Petrol,NaN,2018,Hyundai
3,3,Hyundai Venue - 2019,PLATINUM,Chennai,"₹10,19,699","16,112 kms",Petrol,2nd Owner,2019,Hyundai
4,4,Honda Jazz - 2017,PLATINUM,Pune,"₹7,13,499","30,988 kms",Petrol,2nd Owner,2017,Honda

In [10]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1032 non-null   int64
 1   Name        1032 non-null   object
 2   Label       1032 non-null   object
 3   Location    1030 non-null   object
 4   Price       1032 non-null   object
 5   Kms_driven  1032 non-null   object
 6   Fuel_type   1032 non-null   object
 7   Owner       740 non-null    object
 8   Year        1032 non-null   int64
 9   Company     1032 non-null   object
dtypes: int64(2), object(8)
memory usage: 80.8+ KB

In [12]:
car.drop(['Owner', 'Label', 'Location', ], axis=1, inplace=True)

KeyError: "['Owner', 'Label', 'Location'] not found in axis"

In [13]:
car.head()

,Unnamed: 0,Name,Price,Kms_driven,Fuel_type,Year,Company
0,0,Ford Figo Duratec Petrol EXI 1.2 - 2015,"₹3,80,000","35,056 kms",Petrol,2015,Ford
1,1,Maruti Suzuki Wagon R VXI BS IV - 2016,"₹4,65,000","44,000 kms",Petrol,2016,Maruti
2,2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,"₹13,50,000","42,917 kms",Petrol,2018,Hyundai
3,3,Hyundai Venue - 2019,"₹10,19,699","16,112 kms",Petrol,2019,Hyundai
4,4,Honda Jazz - 2017,"₹7,13,499","30,988 kms",Petrol,2017,Honda

In [14]:
car.to_csv('Quikr_cars_2.csv', index=False)

In [15]:
car2 = pd.read_csv('Quikr_cars_2.csv')

In [16]:
car2.head()

,Unnamed: 0,Name,Price,Kms_driven,Fuel_type,Year,Company
0,0,Ford Figo Duratec Petrol EXI 1.2 - 2015,"₹3,80,000","35,056 kms",Petrol,2015,Ford
1,1,Maruti Suzuki Wagon R VXI BS IV - 2016,"₹4,65,000","44,000 kms",Petrol,2016,Maruti
2,2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,"₹13,50,000","42,917 kms",Petrol,2018,Hyundai
3,3,Hyundai Venue - 2019,"₹10,19,699","16,112 kms",Petrol,2019,Hyundai
4,4,Honda Jazz - 2017,"₹7,13,499","30,988 kms",Petrol,2017,Honda

In [17]:
car2.shape

(1032, 7)

only the values and relevant feild is taken into consideratio others are deleted and a new csv is formed